<!DOCTYPE html>
<html>
  <head>
    <title>Hallway OAuth2 Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Care Bear Stare</h1>
    <a href="#" id="signin">Login</a>
    <a href="/logout">Logout</a>
    <ul>
      <li>Signed in: <span id="singly_loggedin"></span></li>
      <li>Singly Token: <textarea id="singly_token"><% if (token) { %><%= token %><% } else { %><%= 'Not Logged in' %><% } %></textarea></li>
      <li>Profiles: <span id="singly_profiles"><% if (profiles) { %><%= profiles.all %><% } else { %><%= 'Not Logged in' %><% } %></span></li>
    </ul>

    <script src="<%= hostUrl %>/static/auth/auth.js"></script>
    <script>
      $(function() {
        var singly = $.singly({
          appName: 'Care Bear Stare',
          client_id: '<%= client_id %>',
          redirect_url: window.location.origin + '/callback',
          host: '<%= hostUrl %>',
          services: ['twitter', 'facebook']
        });

        $('#signin').on("click", singly.login);

        singly.on("login", function(e) {
          $('#singly_loggedin').html('True');
          $.ajax({
            url: '/user',
            success: function(data){
              var user = JSON.parse(data);
              $('#singly_token').val(user.token);
              $('#singly_profiles').html(user.profiles.all.join(','));
            },
            error: function(){}
          });
        });
      });
    </script>
  </body>
</html>
